{% extends 'base.html.twig' %}

{% block title %}Compte désactivé{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center esup">
            <h1 class="text-center" style="color: red">Votre Compte a été désactivé !</h1>
        </div>
        <div class="row justify-content-center esup">
            <p class="text-center">Veuillez contacter l'administrateur pour résoudre le litige. Vous pouvez le contacter à l'adresse suivante admin@admin.fr</p>
        </div>
    </div>
{% endblock %}