{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>S'inscrire</h1>
        </div>
        {% include 'errors.html.twig' %}
        {{ form_start(registerForm) }}
        <div class="row justify-content-center esup">
            <div class="col-5">
                {% include 'rowForm.html.twig' with { 'form':  registerForm.email } %}
                {% for passwordField in registerForm.password %}
                    {% include 'rowForm.html.twig' with { 'form':  passwordField } %}
                {% endfor %}
                {% include 'rowForm.html.twig' with { 'form':  registerForm.pseudo } %}
                {% include 'rowForm.html.twig' with { 'form':  registerForm.prenom } %}
                {% include 'rowForm.html.twig' with { 'form':  registerForm.nom } %}
                {% include 'rowForm.html.twig' with { 'form':  registerForm.tel } %}
                {% include 'rowForm.html.twig' with { 'form':  registerForm.ville } %}
            </div>
        </div>
        <div class="text-center"><br>
            <button type="submit" class="btn btn-outline-primary">S'inscrire</button>

        </div>
        {{ form_end(registerForm) }}
    </div>

{% endblock %}
