{% extends 'base.html.twig' %}

{% block title %}Project Sortir{% endblock %}

{% block body %}
    {# Contenu de la page #}
    <div class="container">
        <div class="row justify-content-center esup">
            Plus qu'a remplir
        </div>
    </div>
{% endblock %}